/* import fonts from google fonts  */

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Gugi&family=Lato:wght@400;700&family=Roboto:wght@400;500;700&family=Sofia&display=swap');


:root{
  --primary-color: #45ccb8;
  --light-color: #2b3032a1;
  --border: #2b303218;
  --text-color:  

}

